<div id="comment" style='padding:10px;' class="vcomment"></div>
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src="//unpkg.com/valine/dist/Valine.min.js"></script>
<script>
    var GUEST_INFO = ['nick','mail','link'];
    var guest_info = 'nick,mail'.split(',').filter(function(item){
        return GUEST_INFO.indexOf(item) > -1
    });
    var notify = 'false' == true;
    var verify = 'false' == true;
    new Valine({
        el: '.vcomment',
        notify: notify,
        verify: verify,
        appId: "y342POhWCRR95vOhfnvm8JmU-gzGzoHsz",
        appKey: "LYAWA6Xx4eiYgbghbg6uxeuB",
        placeholder: "走过路过，不要错过，赏条留言呗!",
        pageSize:'10',
        avatar:'wavatar',
        lang:'zh-cn'
    });
</script>
